<div class="header_wrapper">
    <div class="header_cont">
        <div class="header_logo">

        </div>
        <div class="header_items">
            <div class="header_item">
                <a class="no_link" routerLink="/" routerLinkActive="active">Home</a>
            </div>
            <div class="header_item">
                <a class="no_link" routerLink="/crisis-center" routerLinkActive="active">Search</a>
            </div>
            <div class="header_item">
                <a class="no_link" routerLink="/crisis-center" routerLinkActive="active">About Us</a>
            </div>
            <div class="profile header_item">
                <a class="no_link" routerLink="/login" routerLinkActive="active">Login</a>
            </div>
        </div>
        <div class="profile_cont">
            
        </div>
    </div>
</div>